<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorldTrotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5F584801E382F3F00C0A2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F584941E382F4100C0A2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F5849F1E382F4200C0A2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
